@font-face {
    font-family: 'Celias';
    src: url('Celias-Bold.eot');
    src: local('Celias Bold'), local('Celias-Bold'), url('Celias-Bold.eot?#iefix') format('embedded-opentype'), url('Celias-Bold.woff2') format('woff2'), url('Celias-Bold.woff') format('woff'), url('Celias-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Celias';
    src: url('Celias-Light.eot');
    src: local('Celias Light'), local('Celias-Light'), url('Celias-Light.eot?#iefix') format('embedded-opentype'), url('Celias-Light.woff2') format('woff2'), url('Celias-Light.woff') format('woff'), url('Celias-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Celias';
    src: url('Celias.eot');
    src: local('Celias'), url('Celias.eot?#iefix') format('embedded-opentype'), url('Celias.woff2') format('woff2'), url('Celias.woff') format('woff'), url('Celias.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Celias';
    src: url('Celias-Medium.eot');
    src: local('Celias Medium'), local('Celias-Medium'), url('Celias-Medium.eot?#iefix') format('embedded-opentype'), url('Celias-Medium.woff2') format('woff2'), url('Celias-Medium.woff') format('woff'), url('Celias-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}